class GitMovesTogether < Formula
  desc "Find coupling in git repositories"
  homepage "https://github.com/${GITHUB_REPOSITORY}"
  url "https://github.com/${GITHUB_REPOSITORY}/archive/${GITHUB_REF_NAME}.tar.gz"
  version "${VERSION}"
  sha256 "${FILE_SHA}"

  depends_on "rust" => :build
  depends_on "openssl@3"
  on_linux do
    depends_on "zlib"
  end

  def install
    system "cargo", "install", "--locked", "--root", prefix, "--path", "."
  end

  test do
    system "#{bin}/git-moves-together", "-h"
    system "#{bin}/git-moves-together", "-V"
  end
end
